<% if session.authenticated? %>
<div id="navcontainer">
  <ul>
    <li id="nav_ads"><%= link_to "Ads", url(:ads) %></li>
    <li id="nav_keyword_tool"><%= link_to "Keyword Tool", url(:keyword_tool) %></li>
    <li id="nav_billing"><%= link_to "Billing" %></li>
    <li id="nav_settings"><%= link_to "Settings" %></li>
  </ul>
</div>
<% end %>