<h1>Grobe AdPlatform</h1>

<h3>Advertise your business on Grobe AdPlatform</h3>

<p>
  No matter what your budget, you can reach your target crowd in our advertising network.
</p>

<% if session.authenticated? %>
  <p>
  Go and <%= link_to 'create a new ad', url(:new_ad) %> or <%= link_to 'get keyword ideas', url(:keyword_tool) %>.
  </p>
<% else %>
  <%= link_to 'Get Started - Sign up!', '/signup', { 'class' => 'join' } %>
<% end %>
